
/* Use this if you use icon embedded in placeholder (examples 1 & 2) */

.form-control-placeholdericon {
    font-family: Roboto, FontAwesome, 'Material Icons' !important;
  }
  
  /* Use this if you use icon added with pure CSS (example 3) */
  
  [class*="form-group-icon-"] {
    position: relative;
  }
  
  [class*="form-group-icon-"]>input {
    padding-left: 32px;
  }
  
  [class*="form-group-icon-"]:before {
    font-family: 'Material Icons';
    position: absolute;
    color: rgba(0, 0, 0, .54);
    left: 0;
    bottom: 0;
    font-size: 24px;
  }
  
  .form-group-icon-search:before {
    content: '\e8b6';
  }
  
  /* Use this if you use icon added with HTML tag (example 4) */
  
  .form-group-icon {
    position: relative;
  }
  
  .form-group-icon>input {
    padding-left: 32px;
  }
  
  .form-group-icon>i {
    position: absolute;
    color: rgba(0, 0, 0, .54);
    left: 0;
    bottom: calc(0.375rem - 1px);
  }
  
  /* Use this if you append icon added with HTML tag (example 5) */
  .form-icon-append {
    position: relative;
  }
  
  .form-icon-append>input {
    padding-right: 32px;
  }
  
  .form-icon-append>i {
    position: absolute;
    color: rgba(0, 0, 0, .54);
    right: 0;
    bottom: calc(0.375rem - 1px);
  }
  .form-icon-append>i:hover {
    cursor: pointer;
  }
  